@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import 'keep-react/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: #b9e2b6 #019f6c;
  scrollbar-width: thin;
}

body {
  font-family: 'Acme', sans-serif;
}

.rbc-event {
  background-color: #019f6c !important;
}

.rbc-event.rbc-selected {
  background-color: #019f6c !important;
}

.rbc-agenda-empty {
  text-align: center;
  padding-top: 5rem;
}

input {
  text-align: center;
}

textarea {
  text-align: center;
}
